<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />  
	<title>${content.metaTitle}</title>
	<meta name="keywords" content="${content.metaKeywords}">
	<meta name="description" content="${content.metaDescription}">

	<link href="http://localhost:8080/easycms/res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<script src="http://localhost:8080/easycms/res/jquery/jquery-1.12.0.min.js"></script>
	<script src="http://localhost:8080/easycms/res/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
#include("./include/header.vm")
<div class="main">
#include("./include/left.vm")
#include("./include/center.vm")
#include("./include/footer.vm")
</div>
<div class="fixed-btn"><a title="返回顶部" href="#" class="go-top" style="display: inline-block;"><i class="fa fa-angle-up">顶部</i></a></div>
</body>
</html>