<!Doctype html>
<html xmlns=http://www.w3.org/1999/xhtml>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />  
	<title>${content.metaTitle}</title>
	<meta name="keywords" content="编程之家，${content.metaKeywords}">
	<meta name="description" content="编程之家，${content.metaDescription}">

	<link href="http://www.coding17.com/res/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="http://www.coding17.com/res/css/style.css" rel="stylesheet">
	<link href="http://www.coding17.com/res/prettify/prettify.css" rel="stylesheet">
	<script src="http://www.coding17.com/res/jquery/jquery-1.12.0.min.js"></script>
	<script src="http://www.coding17.com/res/bootstrap/js/bootstrap.min.js"></script>
	<script src="http://www.coding17.com/res/prettify/run_prettify.js"></script>
	#include("./include/statistic.vm")
</head>
<body>
#parse("./include/header.vm")
<div class="main">
#parse("./include/left.vm")
#parse("./include/center.vm")
</div>
#parse("./include/footer.vm")
<div class="fixed-btn"><a title="编程之家，返回页面顶部" href="#" class="go-top" style="display: inline-block;"><i class="fa fa-angle-up">顶部</i></a></div>
</body>
</html>