<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coding17.easycms.soa.entity.channel.TChannel">
	<resultMap id="BaseResultMap"
		type="com.coding17.easycms.soa.entity.channel.TChannel">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="path" jdbcType="VARCHAR" property="path" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="pid" jdbcType="INTEGER" property="pid" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="state" jdbcType="TINYINT" property="state" />
	</resultMap>
	<sql id="Base_Column_List">
		id, path, name, pid, create_time, state
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_channel
		where id = #{id,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from t_channel
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.coding17.easycms.soa.entity.channel.TChannel">
		insert into t_channel (id, path, name,
		pid, create_time, state
		)
		values (#{id,jdbcType=INTEGER}, #{path,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{pid,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{state,jdbcType=TINYINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.coding17.easycms.soa.entity.channel.TChannel">
		insert into t_channel
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="path != null">
				path,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="pid != null">
				pid,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="state != null">
				state,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="path != null">
				#{path,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				#{pid,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				#{state,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.coding17.easycms.soa.entity.channel.TChannel">
		update t_channel
		<set>
			<if test="path != null">
				path = #{path,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="pid != null">
				pid = #{pid,jdbcType=INTEGER},
			</if>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=TINYINT},
			</if>
		</set>
		where id = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.coding17.easycms.soa.entity.channel.TChannel">
		update t_channel
		set path = #{path,jdbcType=VARCHAR},
		name = #{name,jdbcType=VARCHAR},
		pid = #{pid,jdbcType=INTEGER},
		create_time = #{createTime,jdbcType=TIMESTAMP},
		state = #{state,jdbcType=TINYINT}
		where id = #{id,jdbcType=INTEGER}
	</update>
</mapper>