<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 功能模块:  -->
<mapper namespace="com.coding17.easycms.soa.entity.channel.TChannel" >

	<!--通用表字段列表-->
	<resultMap id="BaseResultMap" type="com.coding17.easycms.soa.entity.channel.TChannel">
		<result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="PID" property="pid" jdbcType="INTEGER"/>
		<result column="SITE_ID" property="siteId" jdbcType="INTEGER"/>
		<result column="NAME" property="name" jdbcType="VARCHAR"/>
		<result column="PATH" property="path" jdbcType="VARCHAR"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="LEVEL" property="level" jdbcType="INTEGER"/>
		<result column="SORT" property="sort" jdbcType="INTEGER"/>
		<result column="STATE" property="state" jdbcType="INTEGER"/>
    </resultMap>
    <!--通用表字段列表-->
    
    <!-- ChannelInfo -->
    <resultMap id="ChannelInfoResultMap" type="com.coding17.easycms.soa.entity.channel.TChannel">
		<result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="PID" property="pid" jdbcType="INTEGER"/>
		<result column="SITE_ID" property="siteId" jdbcType="INTEGER"/>
		<result column="NAME" property="name" jdbcType="VARCHAR"/>
		<result column="PATH" property="path" jdbcType="VARCHAR"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="LEVEL" property="level" jdbcType="INTEGER"/>
		<result column="SORT" property="sort" jdbcType="INTEGER"/>
		<result column="STATE" property="state" jdbcType="INTEGER"/>
		<collection property="contents" ofType="com.coding17.easycms.soa.entity.content.TContent">
			<result column="CID" property="id" jdbcType="INTEGER"/>
			<result column="TITLE" property="title" jdbcType="VARCHAR"/>
		</collection>
    </resultMap>
    
	<!--user customize code start-->

	<!--user customize code end  -->
    
	<!--通用查询条件组装-->
	<sql id="whereContation">
			<if test="id != null">
				AND  h.`ID`=#{id,jdbcType=INTEGER}  
			</if>
			<if test="pid != null">
				AND  h.`PID`=#{pid,jdbcType=INTEGER}  
			</if>
			<if test="siteId != null">
				AND  h.`SITE_ID`=#{siteId,jdbcType=INTEGER}  
			</if>
			<if test="name != null">
				AND  h.`NAME`=#{name,jdbcType=VARCHAR}  
			</if>
			<if test="path != null">
				AND  h.`PATH`=#{path,jdbcType=VARCHAR}  
			</if>
			<if test="createTime != null">
				AND  h.`CREATE_TIME`=#{createTime,jdbcType=TIMESTAMP}  
			</if>
			<if test="level != null">
				AND  h.`LEVEL`=#{level,jdbcType=INTEGER}  
			</if>
			<if test="sort != null">
				AND  h.`SORT`=#{sort,jdbcType=INTEGER}  
			</if>
			<if test="state != null">
				AND  h.`STATE`=#{state,jdbcType=INTEGER}  
			</if>
	</sql>
	
	<!--查询字段列表拼装-->
	<sql id="baseColumnList">
			 h.`ID`	 
			,h.`PID`
			,h.`SITE_ID`
			,h.`NAME`
			,h.`PATH`
			,h.`CREATE_TIME`
			,h.`LEVEL`
			,h.`SORT`
			,h.`STATE`
	</sql>
	
	<!--
	方法名称: insert
	调用路径: TChannelEntityMapper.insert
	开发信息: 
	处理信息: 保存记录
	-->
 	<insert id="insert" parameterType="com.coding17.easycms.soa.entity.channel.TChannel" >
 		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	 	INSERT  INTO  T_CHANNEL
	 		<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="id != null">
					`ID`,
					</if>
					<if test="pid != null">
					`PID`,
					</if>
					<if test="siteId != null">
					`SITE_ID`,
					</if>
					<if test="name != null">
					`NAME`,
					</if>
					<if test="path != null">
					`PATH`,
					</if>
					<if test="createTime != null">
					`CREATE_TIME`,
					</if>
					<if test="level != null">
					`LEVEL`,
					</if>
					<if test="sort != null">
					`SORT`,
					</if>
					<if test="state != null">
					`STATE`,
					</if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="id != null">
					 #{id,jdbcType=INTEGER},
					</if>
					<if test="pid != null">
					 #{pid,jdbcType=INTEGER},
					</if>
					<if test="siteId != null">
					 #{siteId,jdbcType=INTEGER},
					</if>
					<if test="name != null">
					 #{name,jdbcType=VARCHAR},
					</if>
					<if test="path != null">
					 #{path,jdbcType=VARCHAR},
					</if>
					<if test="createTime != null">
					 #{createTime,jdbcType=TIMESTAMP},
					</if>
					<if test="level != null">
					 #{level,jdbcType=INTEGER},
					</if>
					<if test="sort != null">
					 #{sort,jdbcType=INTEGER},
					</if>
					<if test="state != null">
					 #{state,jdbcType=INTEGER},
					</if>
			</trim>
	</insert>
	
	<!--
	方法名称: update
	调用路径: TChannelEntityMapper.update
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="update" parameterType="com.coding17.easycms.soa.entity.channel.TChannel" >
		UPDATE   T_CHANNEL  	 
	  	<set> 
				<if test="pid != null">
			 		`PID` = #{pid,jdbcType=INTEGER},
			 	</if>
				<if test="siteId != null">
			 		`SITE_ID` = #{siteId,jdbcType=INTEGER},
			 	</if>
				<if test="name != null">
			 		`NAME` = #{name,jdbcType=VARCHAR},
			 	</if>
				<if test="path != null">
			 		`PATH` = #{path,jdbcType=VARCHAR},
			 	</if>
				<if test="createTime != null">
			 		`CREATE_TIME` = #{createTime,jdbcType=TIMESTAMP},
			 	</if>
				<if test="level != null">
			 		`LEVEL` = #{level,jdbcType=INTEGER},
			 	</if>
				<if test="sort != null">
			 		`SORT` = #{sort,jdbcType=INTEGER},
			 	</if>
				<if test="state != null">
			 		`STATE` = #{state,jdbcType=INTEGER},
			 	</if>
		</set>
		WHERE  
			`ID` = #{id,jdbcType=INTEGER}		 
	</update>
	
	<!--
	方法名称: updateBak
	调用路径: TChannelEntityMapper.updateBak
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="updateBak" parameterType="com.coding17.easycms.soa.entity.channel.TChannel" >
		UPDATE   T_CHANNEL  	 
	  	<set> 
			 		`PID` = #{pid,jdbcType=INTEGER},
			 		`SITE_ID` = #{siteId,jdbcType=INTEGER},
			 		`NAME` = #{name,jdbcType=VARCHAR},
			 		`PATH` = #{path,jdbcType=VARCHAR},
			 		`CREATE_TIME` = #{createTime,jdbcType=TIMESTAMP},
			 		`LEVEL` = #{level,jdbcType=INTEGER},
			 		`SORT` = #{sort,jdbcType=INTEGER},
			 		`STATE` = #{state,jdbcType=INTEGER},
		</set>
		WHERE  
			`ID` = #{id,jdbcType=INTEGER}		 
	</update>
	
	<!--
	方法名称: deleteByPriKey
	调用路径:TChannelEntityMapper.deleteByPriKey
	开发信息: 
	处理信息: 删除记录
	-->
	<delete id="deleteByPriKey" parameterType="com.coding17.easycms.soa.entity.channel.TChannel">
		DELETE 	FROM T_CHANNEL 	 
		WHERE 
			`ID` = #{id,jdbcType=INTEGER}		 
	</delete>
	
	<!--
	方法名称: findByPriKey
	调用路径: TChannelEntityMapper.findByPriKey
	开发信息: 
	处理信息: 根据主键查询记录
	-->
	<select id="findByPriKey" parameterType="com.coding17.easycms.soa.entity.channel.TChannel"  resultMap="BaseResultMap">
		SELECT   
		   <include refid="baseColumnList"/>
		FROM   T_CHANNEL h        
		WHERE
				`ID` = #{id,jdbcType=INTEGER}		 
	</select>
	
	<!--
	方法名称: selectListByPagination
	调用路径: TChannelEntityMapper.getPagenationList
	开发信息: 
	处理信息: 分页查询记录
	-->
	<select id="selectListByPagination" parameterType="com.coding17.easycms.soa.entity.channel.TChannel"  resultMap="BaseResultMap">
		<!-- 分页条 -->
		<include refid="CommonEntity.paginationPrefix"/>
		SELECT   
	 		<include refid="baseColumnList"/>
		FROM   T_CHANNEL h         
		WHERE 1=1
		 	<include refid="whereContation"/>
		 	<if test="orderby != null">
		 	ORDER BY ${orderby}
		 	</if>
		<!-- 分页条 -->
		<include refid="CommonEntity.paginationSuffix"/>
	</select>
	
	<!--
	方法名称: selectCountByCondition
	调用路径: TChannelEntityMapper.getPagenationList-count
	开发信息: 
	处理信息: 查询记录数
	-->
	<select id="selectCountByCondition" parameterType="com.coding17.easycms.soa.entity.channel.TChannel" resultType="int">
		SELECT count(1)  FROM  T_CHANNEL     
		 WHERE 1=1
		<include refid="whereContation"/>
	</select>
	
	<!--
	方法名称: getList
	调用路径: TChannelEntityMapper.getList
	开发信息: 
	处理信息: 根据条件查询记录
	-->
	<select id="selectListByCondition" parameterType="com.coding17.easycms.soa.entity.channel.TChannel"  resultMap="BaseResultMap">
	   SELECT   
	   		<include refid="baseColumnList"/>
	   FROM   T_CHANNEL h          
	   WHERE 1=1
		<include refid="whereContation"/>
		<if test="orderby != null">
		 	ORDER BY ${orderby}
		</if>
		limit 0,100
	</select>
	
	<!-- 
	关联查询，查询出栏目及内容信息，支持分页排序
	 -->
	<select id="selectListInfoByPagination" parameterType="com.coding17.easycms.soa.entity.channel.TChannel" resultMap="ChannelInfoResultMap">
	   <include refid="CommonEntity.paginationPrefix"/>
	   SELECT   
	   		<include refid="baseColumnList"/>, c.`ID` as `CID`, c.`TITLE` as `TITLE`
	   FROM  T_CHANNEL h,T_CHANNEL_CONTENT j,T_CONTENT c
	   WHERE 1=1 AND h.`ID`=j.`CHANNEL_ID` AND j.`CONTENT_ID`=c.`ID`
		<include refid="whereContation"/>
		<if test="orderby != null">
		 	ORDER BY ${orderby}
		</if>
		<include refid="CommonEntity.paginationSuffix"/>
	</select>
	
	<!-- 
	关联查询数量，查询出栏目及内容信息，支持分页排序
	 -->
	<select id="selectListInfoByPagination-count" parameterType="com.coding17.easycms.soa.entity.channel.TChannel" resultType="int">
	   SELECT   
	   		COUNT(1)
	   FROM  T_CHANNEL h,T_CHANNEL_CONTENT j,T_CONTENT c
	   WHERE 1=1 AND h.`ID`=j.`CHANNEL_ID` AND j.`CONTENT_ID`=c.`ID`
	   <include refid="whereContation"/>
	</select>
</mapper>