<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 功能模块:  -->
<mapper namespace="com.coding17.easycms.soa.entity.site.TSite" >

	<!--通用表字段列表-->
	<resultMap id="BaseResultMap" type="com.coding17.easycms.soa.entity.site.TSite">
		<result column="ID" property="id" jdbcType="INTEGER"/>
		<result column="DOMAIN" property="domain" jdbcType="VARCHAR"/>
		<result column="NAME" property="name" jdbcType="VARCHAR"/>
		<result column="PATH" property="path" jdbcType="VARCHAR"/>
		<result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP"/>
		<result column="ACCOUNT" property="account" jdbcType="INTEGER"/>
		<result column="ACCOUNT_NAME" property="accountName" jdbcType="VARCHAR"/>
		<result column="STATE" property="state" jdbcType="INTEGER"/>
    </resultMap>
    <!--通用表字段列表-->
    
	<!--user customize code start-->

	<!--user customize code end  -->
    
	<!--通用查询条件组装-->
	<sql id="whereContation">
			<if test="id != null">
				AND  ID=#{id,jdbcType=INTEGER}  
			</if>
			<if test="domain != null">
				AND  DOMAIN=#{domain,jdbcType=VARCHAR}  
			</if>
			<if test="name != null">
				AND  NAME=#{name,jdbcType=VARCHAR}  
			</if>
			<if test="path != null">
				AND  PATH=#{path,jdbcType=VARCHAR}  
			</if>
			<if test="createTime != null">
				AND  CREATE_TIME=#{createTime,jdbcType=TIMESTAMP}  
			</if>
			<if test="account != null">
				AND  ACCOUNT=#{account,jdbcType=INTEGER}  
			</if>
			<if test="accountName != null">
				AND  ACCOUNT_NAME=#{accountName,jdbcType=VARCHAR}  
			</if>
			<if test="state != null">
				AND  STATE=#{state,jdbcType=INTEGER}  
			</if>
	</sql>
	
	<!--查询字段列表拼装-->
	<sql id="baseColumnList">
			 `ID`	 
			,`DOMAIN`
			,`NAME`
			,`PATH`
			,`CREATE_TIME`
			,`ACCOUNT`
			,`ACCOUNT_NAME`
			,`STATE`
	</sql>
	
	<!--
	方法名称: insert
	调用路径: TSiteEntityMapper.insert
	开发信息: 
	处理信息: 保存记录
	-->
 	<insert id="insert" parameterType="com.coding17.easycms.soa.entity.site.TSite" >
 		<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
	 	INSERT  INTO  T_SITE
	 		<trim prefix="(" suffix=")" suffixOverrides=",">
					<if test="id != null">
					ID,
					</if>
					<if test="domain != null">
					DOMAIN,
					</if>
					<if test="name != null">
					NAME,
					</if>
					<if test="path != null">
					PATH,
					</if>
					<if test="createTime != null">
					CREATE_TIME,
					</if>
					<if test="account != null">
					ACCOUNT,
					</if>
					<if test="accountName != null">
					ACCOUNT_NAME,
					</if>
					<if test="state != null">
					STATE,
					</if>
			</trim>
			<trim prefix="values (" suffix=")" suffixOverrides=",">
					<if test="id != null">
					 #{id,jdbcType=INTEGER},
					</if>
					<if test="domain != null">
					 #{domain,jdbcType=VARCHAR},
					</if>
					<if test="name != null">
					 #{name,jdbcType=VARCHAR},
					</if>
					<if test="path != null">
					 #{path,jdbcType=VARCHAR},
					</if>
					<if test="createTime != null">
					 #{createTime,jdbcType=TIMESTAMP},
					</if>
					<if test="account != null">
					 #{account,jdbcType=INTEGER},
					</if>
					<if test="accountName != null">
					 #{accountName,jdbcType=VARCHAR},
					</if>
					<if test="state != null">
					 #{state,jdbcType=INTEGER},
					</if>
			</trim>
	</insert>
	
	<!--
	方法名称: update
	调用路径: TSiteEntityMapper.update
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="update" parameterType="com.coding17.easycms.soa.entity.site.TSite" >
		UPDATE   T_SITE  	 
	  	<set> 
				<if test="domain != null">
			 		DOMAIN = #{domain,jdbcType=VARCHAR},
			 	</if>
				<if test="name != null">
			 		NAME = #{name,jdbcType=VARCHAR},
			 	</if>
				<if test="path != null">
			 		PATH = #{path,jdbcType=VARCHAR},
			 	</if>
				<if test="createTime != null">
			 		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			 	</if>
				<if test="account != null">
			 		ACCOUNT = #{account,jdbcType=INTEGER},
			 	</if>
				<if test="accountName != null">
			 		ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
			 	</if>
				<if test="state != null">
			 		STATE = #{state,jdbcType=INTEGER},
			 	</if>
		</set>
		WHERE  
			ID = #{id,jdbcType=INTEGER}		 
	</update>
	
	<!--
	方法名称: updateBak
	调用路径: TSiteEntityMapper.updateBak
	开发信息: 
	处理信息: 修改记录
	-->
 	<update id="updateBak" parameterType="com.coding17.easycms.soa.entity.site.TSite" >
		UPDATE   T_SITE  	 
	  	<set> 
			 		DOMAIN = #{domain,jdbcType=VARCHAR},
			 		NAME = #{name,jdbcType=VARCHAR},
			 		PATH = #{path,jdbcType=VARCHAR},
			 		CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
			 		ACCOUNT = #{account,jdbcType=INTEGER},
			 		ACCOUNT_NAME = #{accountName,jdbcType=VARCHAR},
			 		STATE = #{state,jdbcType=INTEGER},
		</set>
		WHERE  
			ID = #{id,jdbcType=INTEGER}		 
	</update>
	
	<!--
	方法名称: deleteByPriKey
	调用路径:TSiteEntityMapper.deleteByPriKey
	开发信息: 
	处理信息: 删除记录
	-->
	<delete id="deleteByPriKey" parameterType="com.coding17.easycms.soa.entity.site.TSite">
		DELETE 	FROM T_SITE 	 
		WHERE 
			ID = #{id,jdbcType=INTEGER}		 
	</delete>
	
	<!--
	方法名称: findByPriKey
	调用路径: TSiteEntityMapper.findByPriKey
	开发信息: 
	处理信息: 根据主键查询记录
	-->
	<select id="findByPriKey" parameterType="com.coding17.easycms.soa.entity.site.TSite"  resultMap="BaseResultMap">
		SELECT   
		   <include refid="baseColumnList"/>
		FROM   T_SITE         
		WHERE
				ID = #{id,jdbcType=INTEGER}		 
	</select>
	
	<!--
	方法名称: selectListByPagination
	调用路径: TSiteEntityMapper.getPagenationList
	开发信息: 
	处理信息: 分页查询记录
	-->
	<select id="selectListByPagination" parameterType="com.coding17.easycms.soa.entity.site.TSite"  resultMap="BaseResultMap">
		<!-- 分页条 -->
		<include refid="CommonEntity.paginationPrefix"/>
		SELECT   
	 		<include refid="baseColumnList"/>
		FROM   T_SITE          
		WHERE 1=1
		 	<include refid="whereContation"/>
		 	<if test="orderby != null">
		 	ORDER BY ${orderby}
		 	</if>
		<!-- 分页条 -->
		<include refid="CommonEntity.paginationSuffix"/>
	</select>
	
	<!--
	方法名称: selectCountByCondition
	调用路径: TSiteEntityMapper.getPagenationList-count
	开发信息: 
	处理信息: 查询记录数
	-->
	<select id="selectCountByCondition" parameterType="com.coding17.easycms.soa.entity.site.TSite" resultType="int">
		SELECT count(1)  FROM  T_SITE     
		 WHERE 1=1
		<include refid="whereContation"/>
	</select>
	
	<!--
	方法名称: getList
	调用路径: TSiteEntityMapper.getList
	开发信息: 
	处理信息: 根据条件查询记录
	-->
	<select id="selectListByCondition" parameterType="com.coding17.easycms.soa.entity.site.TSite"  resultMap="BaseResultMap">
	   SELECT   
	   		<include refid="baseColumnList"/>
	   FROM   T_SITE           
	   WHERE 1=1
		<include refid="whereContation"/>
		<if test="orderby != null">
		 	ORDER BY ${orderby}
		</if>
		limit 0,100
	</select>
	
	
</mapper>