<div class="main-center">
	<div class="main-center-links">&nbsp;
		<div class="main-center-pre"><a href="javascript:;">上一篇：${pre.title}</a></div>
		<div class="main-center-next"><a href="javascript:;">下一篇：${next.title}</a></div>
	</div>
	<h3>${content.title}</h3>
	<div class="main-content">${content.contentExt.txt}</div>
	<div class="main-center-links">&nbsp;
		<div class="main-center-pre"><a href="javascript:;">上一篇：${pre.title}</a></div>
		<div class="main-center-next"><a href="javascript:;">下一篇：${next.title}</a></div>
	</div>
</div>