<div class="footer">
	<div class="w3cschoolcc-block">
	<div class="w3cschoolcc cf">
		<dl>
      		<dt>网站导航</dt>
      		<dd>· <a title="HTML教程，HTML5教程" href="http://www.coding17.com/htmlbook">HTML教程</a>
       		<dd>· <a title="HTML参考手册，HTML5参考手册" href="http://www.coding17.com/htmlbook">HTML参考手册</a>
       		<dd>· <a title="Bootstrap 教程，程序员手册" href="http://www.coding17.com/bootstrap">Bootstrap 教程</a></dd>
       		<dd>· <a title="seo 教程，程序员手册" href="http://www.coding17.com/seo">seo 教程</a></dd>
       	</dl>
		</div>
	</div>
</div>