<nav class="navbar navbar-default" role="navigation" style="background-color:#ffffff">
   <div class="navbar-header">
      <a class="navbar-brand" href="#" style="color:#000">程序员手册</a>
   </div>
   <div>
      <ul class="nav navbar-nav" style="margin-left:20px;">
         <li class="active"><a href="http://www.coding17.com/bootstrap/css/2016022519.html">Bootstrap</a></li>
      </ul>
   </div>
</nav>