<nav class="navbar navbar-default" role="navigation" style="background-color:#ffffff">
   <div class="navbar-header">
      <a class="navbar-brand" href="http://www.coding17.com" title="程序员手册，最全的程序员资料查询网站" style="color:#000">程序员手册</a>
   </div>
   <div>
      <ul class="nav navbar-nav" style="margin-left:20px;">
      	 <li id="html"><a href="http://www.coding17.com/htmlbook" title="HTML教程，HTML5教程">HTML教程</a></li>
      	 <li id="htmlbook"><a href="http://www.coding17.com/htmlbook" title="HTML参考手册，HTML5参考手册">HTML参考手册</a></li>
         <li id="bootstrapbook"><a href="http://www.coding17.com/bootstrap" title="Bootstrap教程，Bootstrap入门，进阶">Bootstrap教程</a></li>
         <li id="seobook" ><a href="http://www.coding17.com/seo" title="seo教程，网站建设，页面结构，页面内容优化">站长seo</a></li>
      </ul>
   </div>
</nav>
<script type="text/javascript">
$(function() {
	if (location.href.indexOf("seo")!=-1) {
		$("#seobook").attr("class","active");
	} else if (location.href.indexOf("bootstrap")!=-1) {
		$("#bootstrapbook").attr("class","active");
	} else if (location.href.indexOf("html")!=-1) {
		if (location.href.indexOf("htmlbook")==-1) {
			$("#html").attr("class","active");
		} else {
			$("#htmlbook").attr("class","active");
		}
	}
})
</script>