<div class="main-left">
	<h3>Bootstrap CSS</h3>
	<div class="list-group">
	   <a href="#" class="list-group-item">
	      <p class="list-group-item-heading">入门网站包</p>
	   </a>
	   <a href="#" class="list-group-item">
	      <p class="list-group-item-heading">免费域名注册</p>
	   </a>
	   <a href="#" class="list-group-item active">
	      <p class="list-group-item-heading">24*7 支持</p>
	   </a>
	</div>
	<h3>Bootstrap CSS</h3>
	<div class="list-group">
	   <a href="#" class="list-group-item">
	      <p class="list-group-item-heading">商务网站包</p>
	   </a>
	   <a href="#" class="list-group-item">
	      <p class="list-group-item-heading">免费域名注册</p>
	   </a>
	   <a href="#" class="list-group-item">
	      <p class="list-group-item-heading">24*7 支持</p>
	   </a>
	</div>
</div>