<div class="main-left">
	#foreach( $elem in $allChannels)
	<h3>${elem.name}</h3>
	<div class="list-group">
	#foreach( $ec in $elem.contents)
	<a href="http://www.coding17.com/${ec.url}" class="list-group-item #if(${ec.url}==${content.url})active #end">
		<p class="list-group-item-heading">${ec.title}</p>
 	</a>
	#end
	</div>
	#end
</div>